{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load i18n %}

{% block title %}
{% blocktranslate %}User {{ user }} Profile{% endblocktranslate %}
{% endblock title %}
 
{% block content %}
    <h2>{% blocktranslate %}{{ user }} Profile{% endblocktranslate %}</h2>
    <hr>
    <h6>{% trans "Username" %}: {{ user.username }}</h6>
    <h6>{% trans "Email" %}: {{ user.email }}</h6>
    {% if user.first_name %}
        <h6>{% trans "First name" %}: {{ user.first_name }}</h6>
    {% endif %}
    {% if user.last_name %}
        <h6>{% trans "Last name" %}: {{ user.last_name }}</h6>
    {% endif %}
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    {% if perms.news.add_post and in_limit != 0 %}
        <h5>{% trans "Looking for something fresh from You, dear" %} {{ user.author }}</h5>
        <a href="/posts/create">
            {% trans "Create post" as create_post %}
        <input type="submit" class="mt-3 btn-primary" value="{{ create_post }}" /></a>
        <p></p>
        {% if in_limit == 1 %}
            <h6>{% trans "If you wish you could create one more post today" %}.</h6>
        {% else %}
            <h6>{% trans "If you wish you could create" %} {{ in_limit }} {% trans "more posts today" %}.</h6>
        {% endif %}
    {% elif perms.news.add_post and in_limit == 0 %}
        <h6>{% trans "Today was a fruitful day, you have already published 3 posts" %}.</h6>
    {% else %}
        <h5>{% trans "Have something fresh to tell everybody" %}?</h5>
        <h4>{% trans "Fill out the form below to become an author" %} &#128393;</h4>
        <a href="{% url 'user_upgrade' pk=user.id %}">
            {% trans "Yes, I want to be an author!" as i_want %}
        <input type="submit" class="mt-3 btn-primary" value="{{ i_want }}" /></a>
    {% endif %}
    <p>&nbsp;</p>
    <p>_____</p>
    <p>{% current_time %} {% trans "now" %}</p>
{% endblock content %}