{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts by Category
{% endblock title %}
 
{% block content %}
    <h2>Our publications</h2>
    <p>{% current_time '%b %d %Y %A' %} today</p>
    <h5>Category to deep into:</h5>
    <form action="" method="get">
            {% csrf_token %}
            {{ filterset.form.as_p }}
            <input type="submit" class="mt-3 btn-primary" value="Deep into" />
    </form>
    <hr>
    {% if cat %}
    <h5>You see {{ posts|length }} out of {{ paginator.count }} publications at '{{ cat }}' category</h5>
    {% endif %}
    {% if posts %}
        <center><table>
            <tr>
                <td>News/Article</td>
                <td>Title</td>
                <td>Publication date</td>
                <td>Shorts</td>
                <td>Likes</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Action</td>
                {% endif %}
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.getpost }}</td>
                <td><a href="{{ post.id }}">{{ post.title|censor|upper }}</a></td>
                <td>{{ post.time_in|date:'M d Y' }}</td>
                <td><a href="{{ post.id }}">{{ post.text|censor|truncatewords:5 }}</a></td>
                <td>{{ post.rating|likes_number:'star' }}</td>
                <td>
                    {% if post.author %}
                    {% if perms.news.change_post and post.author and user == post.author.userAuthor %}
                    <a href="{% url 'post_update' pk=post.id %}">
                    <input type="submit" class="mt-3 btn-primary" value="Update" /></a>
                    {% endif %}
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'post_delete' pk=post.id %}">
                    <input type="submit" class="mt-3 btn-primary" value="Delete" /></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table></center>
    {% else %}
        <h2>No news are good news!</h2>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number != 2 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}
    {{ page_obj.number }}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            {% if paginator.num_pages != page_obj.next_page_number|add:1 %}
                ...
            {% endif %}
            <a href="?{% url_replace page=paginator.num_pages %}">{{ paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
    <hr>
    {% if cat and not is_subscriber %}
        <h5>Follow publications at '{{ cat }}' category
        {% if request.user.is_authenticated %}
            <a href="{% url 'subscribe' cat.id %}?next={{request.path}}?category={{cat.id}}">
            <input type="submit" class="mt-3 btn-primary" value="Follow" /></a>
        {% else %}
            <a href="{% url 'account_login' %}?next={{request.path}}?category={{cat.id}}">
            <input type="submit" class="mt-3 btn-primary" value="Log in" /></a>
        {% endif %}
        </h5>
    {% endif %}
    {% if is_subscriber %}
        <h5>You are subscribed to follow '{{ cat }}' category
        <a href="{% url 'unsubscribe' cat.id %}?next={{request.path}}?category={{cat.id}}">
        <input type="submit" class="mt-3 btn-primary" value="Not follow" /></a></h5>
    {% endif %}
{% endblock content %}
