<!DOCTYPE html>
<html lang="en">

{% load custom_filters %}
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
</head>
<body>
    <h3>Dear {{user}}!</h3>
    <p></p>
    <h4>Take a look at News Portal weekly updates.</h4>
    <hr>
    {% for post in posts %}
        <li>
            <p>{{ post.getpost }} posted {{ post.time_in|date:'M d Y' }}</p>
            <p></p>
            <h3><em><a href="{{ link }}{{ post.get_absolute_url }}">{{ post.title|censor|upper }}</a></em></h3>
            <p></p>
            <h4><em>{{ post.preview|censor }}</em></h4>
        </li>
    {% endfor %}
</body>
</html>
